<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Dear Managers,
</p>
<p>
    New ticket <a th:text="${ticketId}" th:href="${baseUrl + '/tickets/' + ticketId}">
    Ticket ID via link</a> is waiting for your approval.
</p>
</body>
</html>