<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p>
    Dear Users,
</p>
<p>
    Ticket <a th:text="${ticketId}" th:href="${baseUrl + '/tickets/' + ticketId}">
    Ticket ID via link</a>  was approved by the Manager.
</p>
</body>
</html>